*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --cor1 : #e9f6ff;
    --cor2 : #e8fff3;
}

body
{
    width: 100%;
    height: 100vh;
    background-color: var(--cor1);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.champion-container
{
    width: 375px;
    height: 520px;
    background-color: var(--cor2);
    border-radius: 8px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .06);
    padding: 20px;
}

.champion-container form
{
    width: 100%;
    border: 1px solid;
    align-items: center;
}

.champion-container form input
{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 10px;
}
